<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="UTF-8">

    <title>Spam Detector</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="landing-container">

    <div class="landing-card">

        <h2>Selamat Datang di</h2>

        <h1>🛡 Spam Detector</h1>

        <p>
            Lindungi Komunikasi Anda dengan Kecerdasan Buatan kami!
        </p>

        <p>
            Deteksi Spam dalam sekejap,
            nikmati percakapan yang aman dan bersih!
        </p>

        <a href="/detector" class="start-btn">
            Mulai Deteksi
        </a>

    </div>

</div>

</body>
</html>